#page-div {
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  padding: 20px;
  border-radius: 10px;
}

label{
    font-weight: bold;
    margin-bottom: 2px;
}

input{
    margin-bottom: 5px;
    padding: 5px;
}